body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:hsl(264, 84%, 17%);
}
#allDivContainer{
    display: flex;
    flex-wrap: wrap;
    background-color:hsl(264, 84%, 17%) ;
    /* border: 1px solid black; */
}
#header{
    height: 10vh;
    width: 100%;
      /* border: 1px solid white; */
    background-color: #2E236C;
    display: flex;
    position: fixed;
} 
#noResult{
    font-size: 40px;
    color: white;
    font-weight: 500;
    border: none;
    text-align: center;
    margin-top: 35vh;
    transition: 1s linear;
}
#noResult:hover{
    font-size:66px ;
    color:#f1c51c;
}
#header img{
    height: 8vh;
    width: 8vh;
    padding: 10px 10px 10px 20px;
}
#header h1{
    font-size: 45px;
    color: black;
    font-weight: 600;
    margin: 10px 20px 10px 0;
}

#goToSearch{
    height: 8vh;
    width: 30vh;
    cursor: pointer;
    border: none;
    box-shadow: inset 15px 10px 15px 20px hsl(264, 84%, 17%) ;
    background-color:transparent ;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #f1c51c;
    border-radius: 5px;
    font-size: 25px;
    margin-left: 145vh;
    margin-top: 10px;
    padding: 4px;;
    font-size: 20px;
}

.favourateMovies{
    height: 100%;
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
    background-color:hsl(264, 84%, 17%) ;
}

.movieCard{
    height: 50vh;
    width: 18%;
    /* border: 1px solid black; */
    margin: 20px 10px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 45px 45px 45px 40px #131842;
    padding: 10px;
    border: 1px solid #f1c51c;
    /* text-align: center; */

}
.movieCard img{
    height: 35vh;
    width:100%;
}
.movieCard h2{
    height: 7vh;
    width: 35vh;
    color: white;
    font-size: 20px;
    font-weight: 300;
    /* border: 1px solid black; */
    margin: 10px 5px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;

}

#addToFav{
    background-color: transparent;
    font-size: 25px;
    color: white;
    margin: 0px 1px 5px 15px;
    border: none;
    outline: none;
    cursor: pointer;

}
#viewDetails{
    font-size: 20px;
    color: #f1c51c;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0px 1px 5px 90px;
    margin-left: 96px;
}

#remover{
    background-color:#2E236C;
    color: red;

}